# ===============================
# Python
# ===============================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# FastAPI / Backend
# ===============================
storage/
.env

# ===============================
# Node / React
# ===============================
node_modules/
dist/
build/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/
